.cartItem {
  width: 100%;
  height: 128px;
  display: flex;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  gap: 25px;
}

.cartItem img {
  width: 240px;
  height: 128px;
  object-fit: cover;
}

.center {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.center h3 {
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.remove {
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}
